@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset any dark mode */
:root {
  color-scheme: light !important;
}

body {
  background-color: white !important;
  color: #333 !important;
}

/* Add any global styles below */
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}